# Animal Sleep Pattern Analysis

---
## 1. Problem Statement:
The objective of this project is to analyze sleep patterns of different animal species and understand how sleep duration varies based on factors such as dietary category, body weight, and taxonomic order. This analysis aims to derive meaningful insights using exploratory data analysis techniques in Python.

---
## 2. Dataset Understanding

### 2.1 Dataset Overview

Animal sleep dataset (originally from the ggplot2 package in R).
Each row represents one animal species, along with its sleep characteristics and biological attributes.

---
### 2.2 Key Columns

#### Typical columns include:

name – Animal name

sleep_total – Total hours of sleep per day

sleep_rem – REM sleep hours

sleep_cycle – Sleep cycle length

awake – Awake hours per day

brainwt – Brain weight

bodywt – Body weight

vore – Diet type (carnivore, herbivore, omnivore)

order – Animal order (Carnivora, Primates, Rodentia, etc.)

---
## 3. Data Loading & Initial Inspection
In this section, the dataset is loaded into Python and an initial inspection is performed to understand its structure and basic characteristics.

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/srisreedhar/DataSets/refs/heads/master/animal_sleeptime_ggplot2.csv"
df = pd.read_csv(url)

df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
...,...,...,...,...,...,...,...,...,...,...,...
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250,0.104
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.330
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750,2.000
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450,3.380
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040,4.230

## 3.1 Dataset Shape & Size

In [5]:
df.shape

(83, 11)

### 3.2 Column Names

In [6]:
df.columns

Index(['name', 'genus', 'vore', 'order', 'conservation', 'sleep_total',
       'sleep_rem', 'sleep_cycle', 'awake', 'brainwt', 'bodywt'],
      dtype='object')


### 3.3 Data types

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          83 non-null     object
 1   genus         83 non-null     object
 2   vore          76 non-null     object
 3   order         83 non-null     object
 4   conservation  54 non-null     object
 5   sleep_total   83 non-null     float64
 6   sleep_rem     61 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         83 non-null     float64
 9   brainwt       56 non-null     float64
 10  bodywt        83 non-null     float64
dtypes: float64(6), object(5)
memory usage: 7.3+ KB

### 3.4 Missing Values Overview

In [10]:
df.isna().sum()

name             0
genus            0
vore             7
order            0
conservation    29
sleep_total      0
sleep_rem       22
sleep_cycle     51
awake            0
brainwt         27
bodywt           0
dtype: int64

---
## 4: Exploratory Data Analysis

### 4.1 Univariate Analysis - sleep_total

In [11]:
df['sleep_total'].describe()

count    83.000000
mean     10.433735
std       4.450357
min       1.900000
25%       7.850000
50%      10.100000
75%      13.750000
max      19.900000
Name: sleep_total, dtype: float64

### sleep_total Insights

Animals show a wide variation in total sleep duration, ranging from very low sleep (2 hours) to extremely high sleep (20 hours) per day.

The average sleep duration (10 hours) is higher than that of humans, indicating diverse sleep needs across species.

The distribution appears fairly balanced, as mean and median values are close.

---
### 4.2 REM sleep

In [12]:
df['sleep_rem'].describe()

count    61.000000
mean      1.875410
std       1.298288
min       0.100000
25%       0.900000
50%       1.500000
75%       2.400000
max       6.600000
Name: sleep_rem, dtype: float64

### 4.2 REM sleep Insights
REM sleep duration varies significantly across species, with some animals exhibiting minimal REM sleep and others showing extended REM periods.

The average REM sleep is around 2 hours, which is comparable to human REM sleep duration.

REM sleep data is missing for several species, so insights are based only on available observations.

---
### 4.3 sleep_cycle

In [13]:
df['sleep_cycle'].describe()

count    32.000000
mean      0.439583
std       0.358680
min       0.116667
25%       0.183333
50%       0.333333
75%       0.579167
max       1.500000
Name: sleep_cycle, dtype: float64

### 4.3.1 Unit Conversion (Sleep Cycle in Minutes)

In [15]:
df['sleep_cycle_min'] = df['sleep_cycle'] * 60

In [16]:
df['sleep_cycle_min'].describe()

count    32.000000
mean     26.375000
std      21.520808
min       7.000000
25%      11.000000
50%      20.000000
75%      34.750000
max      90.000000
Name: sleep_cycle_min, dtype: float64

Sleep cycle duration was converted from hours to minutes to improve interpretability while preserving the original values.

### 4.3 sleep_cycle Insights

Most animals exhibit short sleep cycles, suggesting fragmented sleep and frequent transitions between sleep stages.

Only a few species show long, human-like sleep cycles, indicating consolidated sleep patterns.

Sleep cycle data is available for a limited number of animals, so conclusions from this variable should be interpreted cautiously.

In [17]:
df[['sleep_cycle', 'sleep_cycle_min']].head()

   sleep_cycle  sleep_cycle_min
0          NaN              NaN
1          NaN              NaN
2          NaN              NaN
3     0.133333              8.0
4     0.666667             40.0